.b{
  margin-left: 5%;
}
.mycard{
  margin:30px;
  
}
.auth-card{
  padding:20px;
  text-align:center;
  max-width: 400px;
  margin:10px auto;
  background-color: darkslateblue;
}
input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.gallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}
.nav-wrapper {
  background-color: darkcyan;
}
.home-card{
  max-width: 450px;
  height:max-content;
  margin: 25px auto;
}